.zone-name-input
{
   background-color: var(--color-light-grey-2);
}

.option
{
    padding: 0.625rem;
    width: 100%;
    border-bottom: 2px solid var(--color-black);
}

.circle-picker
{

    min-width: 500px !important;
    margin: 0.625rem auto !important;
}

.chrome-picker
{
    margin: 0.625rem auto !important;
}

.preview-zone
{
    border: 1px solid var(--color-black);

    max-width: 500px;
    min-height: 100px;

    text-align: center;
    margin: 0.625rem auto;
    padding: 2.5rem;

}

.save-zone-button
{
    background-color: var(--color-dark-red);
    color: var(--text-color-2);
    width: 67px;
    height: 37px;

    font-size: var(--font-small);
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    
    transition: ease transform 0.2s;

    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.save-zone-button:hover
{
    cursor: pointer;
    transform: scale(1.2);
}