.food-menu
{
    border-style:solid none none;
    border-top: 16px solid var(--color-dark-grey);

    position: relative;
    min-height: 100vh;
}

.food-name-input
{
    width: 100%;
    height: 120px;
    border: none;
    background-color: var(--color-light-grey-2);

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-raleway);
}

.barcode-input
{
    width: 100%;
    height: 123px;
    border: none;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-raleway);
}

.food-units-input
{
    width: 100%;
    height: 123px;
    border: none;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-raleway)
}

.restock-input
{
    opacity: 1;
    width: 100%;
    height: 123px;
    border: none;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-raleway)
}

.save-food-button
{
    background-color: var(--color-dark-red);
    color: var(--text-color-2);
    width: 67px;
    height: 37px;

    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;

    transition: ease transform 0.2s;

    position: absolute;
    top: 92%;
    left: 95%;
}

.save-food-button:hover
{
    cursor: pointer;
    transform: scale(1.2);
}