.food-search-input
{
    width: 100%;
    height: 123px;
    border: none;
    background-color: var(--color-light-grey-2);

    text-align: center;
    font-size: var(--font-large);
    font-weight: bold;
    font-family: var(--font-raleway);
}

.food-search-icon
{
    position: absolute;
    top: 2.5rem;
    right: 1rem;


    border: none;
}

.food-search-icon > img
{
    height: 45px;
    width: 45px;
}

.food-search-results
{
    border-bottom: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    .food-search-icon
    {
        position: absolute;
        top: 2.3rem;
        right: 1rem;

        border: none;
    }
}