.zone-menu
{
    border-style:solid none none;
    border-top: 16px solid var(--color-dark-grey);

    position: relative;
    min-height: 100vh;
}

.add-zone-button
{
    background-color: var(--color-black);
    border-radius: 50%;

    width: 51px;
    height: 44px;
    padding: 5px;

    position: absolute;
    bottom: 1rem;
    right: 1rem;

    transition: ease-in transform .02s;
}

.add-zone-button:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

.add-zone-icon
{
    width: 30px;
    height: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{

}

/* iphones 6/7/8 and Plus in landscape */
@media only screen and (max-width: 800px) and (orientation: landscape)
{

}

/* iphones X in landscape */
@media only screen and (max-width: 900px) and (orientation: landscape)
{

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{

}